<div class="header-container" *ngIf="display">
    <ul class="navigation-choices">
        <li class="choice">
            <a routerLink="products">
                Products <mat-icon class="icon">store</mat-icon>
            </a>
        </li>
        
        <li class="choice" *ngIf="!authService.isAdmin()">
            <a routerLink="cart" >
                Cart <mat-icon class="icon">shopping_cart</mat-icon>
            </a>
        </li>
        
        <li class="choice" *ngIf="authService.isAdmin()">
            <a routerLink="orders">
                Orders <mat-icon class="icon">shopping_cart</mat-icon>
            </a>
        </li>
    </ul>
</div>