<div class="product-container" *ngIf="product != undefined">
    <h1>{{product.name}}</h1>
    <p>{{product.description}}</p>
    <p>${{product.price}}</p>

    <button 
        class="button" 
        *ngIf="!containsItem() && !authService.isAdmin()" 
        (click)="handleAdd()">Add</button>

    <button 
        class="disabled-btn button" 
        *ngIf="containsItem() && !authService.isAdmin()" 
        disabled 
        (click)="handleAdd()"><mat-icon>check_circle</mat-icon></button>

    <button class="button" *ngIf="authService.isAdmin()" (click)="handleEdit()">Edit</button>
</div>