<div class="order-container" *ngIf="order">
    <div class="customer-details-container">
        <h1>Customer Details</h1>
        <div class="info-section">
            <h2><u>Name</u></h2>
            <p>{{order.customer.firstname + " " + order.customer.lastname}}</p>
        </div>

        <div class="info-section">
            <h2><u>Email</u></h2>
            <p>{{order.customer.email}}</p>
        </div>

        <div class="info-section">
            <h2><u>Date Ordered</u></h2>
            <p>{{order.dateOrdered}}</p>
        </div>
    </div>

    <div class="products-container ">
        <h1>Products</h1>
        <ul>
            <li class="product" *ngFor="let product of order.products">{{product.name}} <b>x {{product.quantity}}</b></li>
        </ul>
    </div>
</div>