.order-container {
    background-color: #ffc145;
    display: flex;
    width: 40vw;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}


.products-section {
    padding-left: 50px;
}
